.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
}

.left-block {
  padding-right: 10px;
}

.right-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-actions {
  display: flex;
  align-items: center;
}

.action-icons {
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}
